@import url("https://use.typekit.net/gqq0dkk.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("https://frutigeraeroarchive.org/images/wallpapers/asadal_stock/asadal_stock_5.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem; /*margin around main wrapper*/
    font-family: neue-frutiger-world, sans-serif;
}

image {
    max-width: 100%;
    height: auto;
}

#main-wrapper {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header > div {
    background: linear-gradient(
            to bottom,
            rgba(155, 210, 250, 1) 0%,
            rgba(115, 185, 230, 1) 15%,
            rgba(20, 140, 225, 1) 50%,
            rgba(15, 120, 190, 1) 60%,
            rgba(20, 130, 210, 1) 90%,
            rgba(25, 145, 225, 1) 100%);
    padding: 1.5rem 3rem;
    display: flex;
    width: 100%;
    border-radius: 4rem 4rem 0 0;
    border-left: solid 1px rgba(115, 185, 230, 0.5);
    border-right: solid 1px rgba(115, 185, 230, 0.5);
    border-top: solid 1px rgba(20, 140, 225, 0.5);
}

header > nav {
    width: 100%;
}

header > div > a {
    display: flex;
    text-decoration: none;
    color:white;
    flex-direction: column;
    gap: 0.5rem;
}

header > div > a > h1 {
    color: white;
    font-size: 2.125rem;
    line-height: 1em;
    letter-spacing: 0.01em;
    font-weight: 400;
    text-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
}

header > div > a > p {
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1em;
}

header nav ul {
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(150, 150, 150, 1) 0%,
            rgba(70, 70, 70, 1) 20%,
            rgba(20, 20, 20, 1) 40%,
            rgba(10, 10, 10, 1) 100%
    );
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border-left: solid 1px rgba(70, 70, 70, 0.5);
    border-right: solid 1px rgba(70, 70, 70, 0.5);
}

header nav ul li {
    display: inline-block;
    height: 100%;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em  3rem;
    height: 100%;
    border-right: solid 1px rgba(70, 70, 70, 1);
}

header nav ul li a:hover {
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(120, 120, 120, 1) 20%,
            rgba(75, 75, 75, 1) 40%,
            rgba(0, 0, 0, 1) 60%,
            rgba(41, 41, 41, 1) 100%
    );
}

main {
    width: 100%;
    background: url(https://frutigeraeroarchive.org/images/aero_glass.png) rgba(210, 245, 255, 0.5);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main > section, .section, .sub-section {
    background: url(https://frutigeraeroarchive.org/images/aero_glass.png), linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) center;
    background-size: cover;
    border: solid 1px rgb(175, 175, 175);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sub-section {
    background: rgba(255, 255, 255, 0.125);
}

h2, h3, h4, h5, h6 {
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(155, 210, 250, 1) 0%,
            rgba(115, 185, 230, 1) 15%,
            rgba(20, 140, 225, 1) 50%,
            rgba(15, 120, 190, 1) 60%,
            rgba(20, 130, 210, 1) 90%,
            rgba(25, 145, 225, 1) 100%);
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
    font-weight: normal;
}

.work-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.work-card {
    max-width: 20rem;
    flex: 1 1 100%;
    transition: 100ms;
}

.work-card:hover {
    transform: scale(1.01);
}

.work-card a {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
}

.work-card img {
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
            to bottom,
            rgba(155, 210, 250, 1) 0%,
            rgba(115, 185, 230, 1) 15%,
            rgba(20, 140, 225, 1) 50%,
            rgba(15, 120, 190, 1) 60%,
            rgba(20, 130, 210, 1) 90%,
            rgba(25, 145, 225, 1) 100%);
    padding: 0.75rem 2rem;
    color: white;
}

.liquid-glass {
    backdrop-filter: blur(0.125rem) url(#liquid-glass-effect);
}

.button {
    padding: 0.5em 1em;
    background:linear-gradient(
            to bottom,
            rgba(160, 215, 255, 1) 0%,
            rgba(155, 210, 250, 1) 15%,
            rgba(20, 140, 225, 1) 50%,
            rgba(15, 120, 190, 1) 60%,
            rgba(20, 130, 210, 1) 90%,
            rgba(25, 145, 225, 1) 100%);
    width: fit-content;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0.25em 0.125rem rgba(20, 140, 225, 1);

}